[Desktop Entry]
Icon=
Name=Thesaurus Tool
X-KDE-Library=thesaurustool
Type=Service
Commands=thesaurus
Comment=Show Related Words
X-KoText-MinVersion=0
X-Flake-PluginVersion=1
X-KDE-ServiceTypes=KOffice/Text-EditingPlugin
