[Desktop Entry]
Name=SpellCheck plugin
X-KDE-ServiceTypes=KOffice/Text-EditingPlugin
Type=Service
X-KDE-Library=spellcheck
X-KoText-MinVersion=0
X-Flake-PluginVersion=1
