[Desktop Entry]
Name=Change case plugin
X-KDE-ServiceTypes=KOffice/Text-EditingPlugin
Type=Service
X-KDE-Library=changecase
X-KoText-MinVersion=0
X-Flake-PluginVersion=1
