[Desktop Entry]
Name=DivineProportion Shape
X-KDE-ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=divineproportionshape
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
