[Desktop Entry]
Name=Autocorrection plugin
X-KDE-ServiceTypes=KOffice/Text-EditingPlugin
Type=Service
X-KoText-MinVersion=0
X-KoText-PluginVersion=1
X-KDE-Library=autocorrect
