[Desktop Entry]
Encoding=UTF-8
Name=Variable Management Docker
Name[cs]=Dok správy proměnných
Name[da]=Dokker til variabelhåndtering
Name[es]=Anclaje de gestión de variables
Name[et]=Muutujate haldamise dokk
Name[eu]=Aldagaien kudeaketaren panela
Name[fr]=Panneau variable de gestion 
Name[kk]=Айнымалы басқару панелі
Name[nb]=Dokker for variabeladministrering
Name[nds]=Variabelnpleeg-Andocker
Name[nl]=Vastzetter van beheerder van variabelen
Name[pl]=Dokowanie zarządzaniem zmiennymi
Name[pt]=Área de Gestão de Variáveis
Name[pt_BR]=Área de gerenciamento de variáveis
Name[sk]=Dok správy premenných
Name[sv]=Variabel hanteringspanel
Name[uk]=Панель керування змінними
Name[x-test]=xxVariable Management Dockerxx
Name[zh_TW]=可變管理嵌入器
ServiceTypes=KOffice/Dock
Type=Service
X-KDE-Library=variable_docker_plugin
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
X-Flake-Version=1
