[Desktop Entry]
Name=Simple Text Edit
Comment=Simpler Text Edit docker
X-KDE-ServiceTypes=KOffice/Dock
Type=Service
X-KDE-Library=kofficesimpletextedit
X-Flake-MinVersion=0
X-Flake-PluginVersion=1
